{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style/styles.css' %}">
    
</head>
<body>
    <div class="centerd-content">
        <img src="{% images/logo.png %}">
        <form action="{% url 'contact' %}" method="get">
           <button class="btn" type="submit">Click To Submit</button> 
        </form>
    </div>


 <script src="{% static 'js/script.js ' %}"></script>   
 <img src="{% static 'images/logo.png' %}" alt="django logo">
</body>
</html>